<template>
  <div class="<%= data.lowerName %>">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: "<%= data.name %>",
  props: {
    msg: String,
  },
  components: {

  },
  mixins: [],
  data() {
    return {
      msg: "<%= data.name %>",
    };
  },
  methods: {

  },
  created() {

  },
  mounted() {
    
  },
};
</script>

<style scoped>
  .<%= data.lowerName %> {

  }
</style>
